@keyframes banner-anim {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0086df,
            0 0 40px #0086df, 0 0 50px #0086df, 0 0 60px #0086df, 0 0 70px #0086df;
        color: white;
    }

    10% {
        text-shadow: 0 0 20px #fff, 0 0 30px #309ce4, 0 0 40px #309ce4,
            0 0 50px #309ce4, 0 0 60px #309ce4, 0 0 70px #309ce4, 0 0 80px #309ce4;
        color: white;
    }

    11% {
        text-shadow: none;
        color: grey;
    }

    20% {
        text-shadow: none;
        color: grey;
    }

    21% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0086df,
            0 0 40px #0086df, 0 0 50px #0086df, 0 0 60px #0086df, 0 0 70px #0086df;
        color: white;
    }

    30% {
        text-shadow: 0 0 20px #fff, 0 0 30px #309ce4, 0 0 40px #309ce4,
            0 0 50px #309ce4, 0 0 60px #309ce4, 0 0 70px #309ce4, 0 0 80px #309ce4;
        color: white;
    }

    31% {
        text-shadow: none;
        color: grey;
    }

    40% {
        text-shadow: none;
        color: grey;
    }

    41% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0086df,
            0 0 40px #0086df, 0 0 50px #0086df, 0 0 60px #0086df, 0 0 70px #0086df;
        color: white;
    }

    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #309ce4, 0 0 40px #309ce4,
            0 0 50px #309ce4, 0 0 60px #309ce4, 0 0 70px #309ce4, 0 0 80px #309ce4;
        color: white;
    }

    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0086df,
            0 0 40px #0086df, 0 0 50px #0086df, 0 0 60px #0086df, 0 0 70px #0086df;
        color: white;
    }
}

@keyframes blinking-arrow-anim {
    50% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes blinking-skill-anim {
    8% {
        opacity: 100%;
    }

    16% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }
}

@keyframes blinking-parenthasis-anim {
    0% {
        opacity: 100%;
    }

    40% {
        opacity: 100%;
    }

    60% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes show-anim {
    to {
        opacity: 100%;
    }
}

@keyframes show2-anim {
    40% {
        opacity: 0;
    }

    70% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@keyframes hello-anim1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 100%;
    }

    10% {
        opacity: 100%;
    }

    15% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hello-anim2 {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    20% {
        opacity: 100%;
    }

    38.33% {
        opacity: 100%;
    }

    43.33% {
        opacity: 0;
    }
}

@keyframes hello-anim3 {
    0% {
        opacity: 0;
    }

    43.33% {
        opacity: 0;
    }

    48.33% {
        opacity: 100%;
    }

    66.66% {
        opacity: 100%;
    }

    71.66% {
        opacity: 0;
    }
}

@keyframes hello-anim4 {
    0% {
        opacity: 0;
    }

    71.66% {
        opacity: 0;
    }

    76.66% {
        opacity: 100%;
    }

    95% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes star-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        top: 260%;
        opacity: 0;
    }
}

@keyframes go-down-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shake-anim {
    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    67.5% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes show-pokedex-project-anim {
    100% {
        transform: perspective(600px) rotateY(5deg);
        opacity: 100%;
    }
}

@keyframes show-first-website-project-anim {
    100% {
        transform: perspective(600px) rotateY(-5deg);
        opacity: 100%;
    }
}

@keyframes blur-anim {
    100% {
        filter: blur(2px);
    }
}

@keyframes sentence-anim {
    100% {
        transform: translateX(0%);
    }
}

@keyframes progress-anim {
    100% {
        width: 110%;
        opacity: 100%;
    }
}