/*projects*/
.projects {
    position: relative;
    cursor: default;
    padding-top: 0vh;
}

.projects>.projects-banner {
    float: left;
    padding-top: 20vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    color: grey;
    opacity: 30%;
}

.projects>.projects-banner>.letter {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--banner-font);
    font-family: "Monoton", cursive;
    font-weight: 100;
    transform: skewY(15deg);
}

.projects>.projects-banner.blinking {
    animation: banner-anim 0.6s ease-in-out forwards;
    opacity: 100%;
}

.projects>.projects-info {
    float: right;
    width: 75%;
    height: 100%;
    padding-top: 30vh;
    padding-right: 20vh;
}

.projects>.projects-info>.first-website-project,
.projects>.projects-info>.upcoming-project {
    margin-top: 20vh;
}

.project-description {
    margin-top: 5vh;
    text-align: center;
    font-size: var(--description-font);
    font-weight: 300;
    letter-spacing: 0px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects>.projects-info img {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.projects>.projects-info a:hover img {
    transform: scale(1.1);
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.5);
}